<!DOCT/home/superboy/java-query-tool/src/main/resources/templates/issuer_viewYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Payment</title>
    <link rel="stylesheet" th:href="@{../../static/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{../../static/cristiano_ronaldo_avatar_icon_263214.ico}">
</head>
<body>
<h1>Create Payment</h1>
<form th:action="@{/payments/}" th:object="${payment}" method="post">
    <label>Amount: <input type="text" th:field="*{amount}" required/></label><br/>
    <label>Subject ID: <input type="text" th:field="*{subject}" required/> <a th:href="@{/subjects/}">See all Subjects</a></label><br/>
    <label>Issuer ID: <input type="text" th:field="*{issuer}" required/><a th:href="@{/issuers/}">See all Issuers</a></label><br/>
    <label>Stock ID: <input type="text" th:field="*{stock}" required/><a th:href="@{/stocks/}">See all Stocks</a></label><br/>
    <button type="submit" th:color="green">Ok</button>
</form>
<a th:href="@{/payments/}">Back to payments table</a>
</body>
</html>