<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit payment</title>
    <link rel="stylesheet" th:href="@{../../static/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{../../static/cristiano_ronaldo_avatar_icon_263214.ico}">
</head>
<body>
<h1>Edit payment</h1>
<form th:action="@{/payments/update/{id}(id=${payment.id})}" th:object="${payment}" method="post">
    <label>Name of Registry: <input type="text" th:field="*{amount}" required/></label><br/>
    <button type="submit">Update</button>
</form>
<a th:href="@{/payments/}">Back to payments</a>
</body>
</html>