<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Subject</title>
    <link rel="stylesheet" th:href="@{../../static/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{../../static/cristiano_ronaldo_avatar_icon_263214.ico}">
</head>
<body>
<h1>Create Stock</h1>
<form th:action="@{/subjects/}" th:object="${subject}" method="post">
    <label>Contact`s: <input type="text" th:field="*{contact_info}" required/></label><br/>
    <label>Type: <input type="text" th:field="*{subject_type}" required/></label><br/>
    <button type="submit" th:color="green">Ok</button>
</form>
<a th:href="@{/subjects/}">Back to Subjects</a>
</body>
</html>