<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stocks</title>
    <link rel="stylesheet" th:href="@{../../static/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{../../static/cristiano_ronaldo_avatar_icon_263214.ico}">
</head>
<body>
<h1>Subjects</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Contact info</th>
        <th>Subject type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.id}"></td>
        <td th:text="${subject.contact_info}"></td>
        <td th:text="${subject.subject_type}"></td>
        <td>
            <a th:href="@{/subjects/edit/{id}(id=${subject.id})}">Edit</a>
            <a th:href="@{/subjects/delete/{id}(id=${subject.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div><a th:href="@{/}">Home page</a></div>
<div><a th:href="@{/subjects/create}">Create New Subject</a></div>
</body>
</html>